

table {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
 }
td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
 }
 td:nth-of-type(3n) {
    border-right: 3px solid black;
 }
 tr:nth-of-type(3n) td {
    border-bottom: 3px solid black;
 }
 .original{
    color: black;
    font-size: 40px;
 }
 .candidatos{
    color: green;
    font-size: 19px;
    font-weight: bold;
 }
 table td{
    padding: 5px;
 }
 .resuelto{
   color: red;
   font-size: 40px;  
 }

 
 