body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    margin: 2em auto;
}
caption{
    font-weight: bold;
    font-size: 30px;
}
table td{
   font-size: 12px;
   padding: 1.1em;
}
table.mes thead{
    text-transform: capitalize;
    background-color: #F5EEF8;
}
table.mes tbody{
    text-align: center;
    font-weight: bold;
    color: #A9A9A9;
}
table.mes td, table.mes th{
    padding: 1em;
}
table.mes td:nth-child(6), table.mes td:nth-child(7), td.festivo {/*Dias festivos*/
    color: #154360;
    background-color: #ffe3e3;
}
.inicio, .fin{
    background-color: darksalmon;
    color: black;
}
.fiesta{
    background-color: lemonchiffon;
    color: black;
}
.puente{
    background-color: bisque;
}
table.calendario>tbody>tr>td{ 
    vertical-align: top;
}
.mes{
    padding: auto;
}
#pie{
    width: 20%;
    margin: 0 14%;
}
ul{
    list-style: none;
   
}



