*{
    margin:0;
    padding:0;
   
}
/*Empezamos por el ancho y los margenes del contenedor*/
#contenedor{
    width: 100%;
    margin: auto;
}
/*Colores y borde*/
#contenedor{
    background-color: #E76F51;
    color: white;
   
}
#contenedor{
    line-height: 130%;
}
/*Damos estilo a la cabecera*/
#cabecera{
    padding: .7em;
    background-color: #233d4d;
    border-bottom: 1px solid gray;
}
/*Eliminamos margen y padding del titulo en cabecera*/
#cabecera h1{
    padding: 0;
    margin: 0;
}
/*Flotamos el menu a la izquierda*/
#navizquierda{
    float: left;
    width: 160px;
}
/*insertamos margen y paddin al menu*/
#navizquierda{
    margin: 0;
    padding: 1em;
}
/*Insertamos margenes para el div contenido*/
#contenido{
    margin-left: 200px;
    border-left: 1px solid gray;
    background-color: white;
    color: black;
}
/*insertamos padding para el contenido*/
#contenido{
    padding: 1em;
}
/*Le damos el ancho maximo al contenido para que se vea distinto en cada navegador*/
#contenido  {
     max-width: 1300px;
 }
/*damos estilo al pie*/
#pie{
    clear: both;
    margin: 0;
    padding: .5em;
}
/*damos color al pie*/
#pie{
    color: #333;
    background-color: #E9C46A;
}
/*Le insertamos un borde*/
#pie{
    border-top: 1px solid gray;
}